@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
    :root{      
      --main-color:#252451;
      --sub-color01:#503396;      
      --sub-color02:#037b94;
      --sub-color03:#da3f31;
      --gray-000:#000;
      --gray-111:#111;      
      --gray-222:#222;
      --gray-333:#333;
      --gray-444:#444;
      --gray-555:#555;
      --gray-666:#666;
      --gray-777:#777;
      --gray-888:#888;
      --gray-999:#999;
      --gray-aaa:#aaa;
      --gray-bbb:#bbb;
      --gray-ccc:#ccc;
      --gray-ddd:#ddd;
      --gray-eee:#eee;
      --gray-fff:#fff;
      --main-tit:30px;
      --sub-tit:24px;
      --small-tit:18px;
      --con-txt:15px;      

      font-family: 'Noto Sans KR', sans-serif;
      font-weight:400;
      font-size:var(--con-txt);
      color:var(--gray-444);
      line-height:1.2;
    }
    .container{
      max-width:1280px;
      margin:0 auto;
      padding:0 20px;
    }
    .close::before,.close::after{
      content:'';
      display:block;
      width:100%;
      height:1px;
      background:var(--gray-000);
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%) rotate(45deg);
    }
    .close::after{
      transform:translate(-50%,-50%) rotate(-45deg);
    }    
    #skip a{
      position:fixed;
      left:50%;
      top:0;
      transform: translate(-50%,-200%);
      z-index:10000;
      padding:1em 2em;
      background:var(--main-color);
      font-weight:900;
      font-size:24px;
      color:var(--gray-fff);
    }
    #skip a:focus{
      transform: translate(-50%,0);
    }
    #wrap{
      overflow:hidden;
      position:relative;
    }
    #wrap::before{
      content:'';
      display:block;
      position:absolute;
      left:-200px;
      right:-200px;
      top:-200px;
      bottom:-200px;
      z-index:1;
      background:url('../images/movie-list01.jpg') no-repeat center;
      background-size:cover;
      /* background-attachment:fixed; */
      filter:blur(300px);
    }
    #wrap::after{
      content:'';
      display:block;
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index:1;
      /* background: repeating-linear-gradient(transparent,transparent 1px,var(--gray-000) 1px, var(--gray-000) 2px); */
      background:rgba(0,0,0,0.5);
    }    
    .main-ad{
      display:none;
      background:var(--gray-ddd);
      position:relative;
      z-index:2;
    }    
    .btn-close-ad{
      position:absolute;
      right:0;
      bottom:0;
      width:20px;
      height:20px;
      background:var(--gray-000);
      font-size:0;
      cursor:pointer;
    }  
    .btn-close-ad::before,.btn-close-ad::after{
      background:var(--gray-fff);
    }
    .header{
      position:fixed;
      left:0;
      right:0;
      top:0;
      z-index:3;
      padding:0.6em 0;
      background:var(--main-color);
    }
    .header.active::before{
      content:'';
      display:block; 
      position:absolute;
      left:0;
      right:0;
      top:calc(100% + 1px);
      height:42px;
      background:var(--gray-111);
    }
    h1 a{
      display:block;
      position:absolute;
      left:50%;
      top:50%;
      z-index:1000;
      transform:translate(-50%,-50%);
      background:url('../images/m-images/m-logo-white.png') no-repeat center;
      background-size:cover;
      text-indent:-99999px;
      width:120px;
      height:55px;
    }
    .mnb{
      display:flex;
      justify-content:space-between;
    }
    .mnb .img-box{
      width:32px;
    }
    .h-right{
      display:grid;
      grid-template-columns:auto auto;
      gap:2px;
      justify-content:end;
    }
    .login-form,.nav-form{
      position:fixed;
      left:0;      
      right:0;
      top:0;
      bottom:0;
      z-index:9999;
      background:rgba(0,0,0,0.5);
      display:none;
    }    
    .login-form .container,.nav-form .container{
      position:absolute;
      left:0;      
      right:0;
      top:0;
      bottom:0;
      overflow:auto;
      padding-top:5em;
      padding-bottom:5em;
      background:var(--gray-fff);
      display:grid;
      gap:2em;
    }
    .login-form h2,.btn-login-close{
      position:fixed;
      left:0;
      right:0;
      top:0;
      padding:1em;
      background: var(--gray-fff);
      font-size:1.2em;
      text-align:center;
    }
    .btn-login-close{
      left:auto;
      right:1em;
      top:1em;
      padding:0;
      width:30px;
      height:30px;
      cursor:pointer;
      color:transparent;
    }
    .form-container input{
      margin:0.5em 0;
      padding:1em 0;
    }
    .form-container input[placeholder]{
      border-color:transparent;
      border-bottom-color:var(--gray-aaa);
    }    
    .form-container input::placeholder{
      color:var(--gray-aaa);
    }
    .form-container .clearfix{
      margin-bottom:2em;
    }
    .form-container .clearfix label{
      float:left;
    }
    .form-container .clearfix input{
      width:auto;
      margin-right:0.5em;      
    }
    .form-container .clearfix a{
      float:right;
      font-weight:300;
      color:var(--sub-color01);
    }
    .form-container .clearfix a span{
      display:inline-block;
      margin-left:0.5em;
      border:1px solid var(--gray-aaa);
      padding:0.2em;
      background:var(--gray-eee);
      font-size:0.6em;
    }
    .form-container input[type="submit"]{
      margin-bottom:0.5em;
      border-color:var(--sub-color01);
      background:var(--sub-color01);
      font-size:1.2em;
      color:var(--gray-fff);
    }
    .form-container .grid-container{
      display:grid;
      grid-template-columns:auto auto auto;
      justify-content:space-evenly;
      align-items:center;
      margin-bottom:1.5em;
      font-size:0.8em;
    }
    .form-container .grid-container .img-box{
      width:40px;
    }
    .nav-form{
      display:none;      
      background:var(--main-color);
    }
    
    .mnb-top .grid-container{
      display:grid;
      grid-template-columns:auto auto;
      gap:2em;
      justify-content:space-between;
      padding:20px;
      color:var(--gray-fff);
    }
    .mnb-top h2{
      font-weight:700;
      font-size:1.4em;
    }
    .mnb-top ul{
      display:grid;
      grid-template-columns:30px 30px;
      gap:0.5em;
      justify-content:end;
    }
    .btn-nav-close{      
      height:30px;
      position:relative;
      color:transparent;
    }
    .btn-nav-close::before,.btn-nav-close::after{
      background:var(--gray-fff);
    }
    .mnb-top ul:last-of-type{      
      grid-template-columns:auto auto;      
      justify-content:start;
      font-size:0.95em;
      color:var(--sub-color02);
    }
    .mnb-top .grid-container a:last-child{
      font-size:0.95em;
    }
    .mnb-middle{
      padding:40px 20px 20px 20px;
      border-top-left-radius:20px;
      border-top-right-radius:20px;
      background:var(--gray-fff);
      height:calc(100vh - 119.23px - 77.375px);
      overflow:auto;
    }
    .mnb-middle h2{
      font-weight:700;
      font-size:0.9em;
      color:var(--gray-000);
    }
    .mnb-middle .grid-container{
      display:grid;
      grid-template-columns:repeat(4,1fr);
      column-gap:0.5em;
      row-gap:3em;
      padding:1em;
      font-weight:300;
      color:var(--gray-111);
      text-align:center;
    }
    .mnb-middle .grid-container .img-box{
      width:60px;
      margin:0 auto 0.3em;
      border-radius:50%;
      border:1px solid var(--gray-aaa);
      padding:0.5em;
    }      
    .공지{
      margin:2em 0 1.5em;
      border-radius:0.3em;
      padding:1em;
      background:rgba(3,123,148,0.2);
      font-size:0.9em;
      color:var(--sub-color01);
      text-align:center;
    }
    .mnb-middle .sns{
      float:left;
    }
    .mnb-middle .notice{
      float:right;
    }
    .mnb-middle .sns li,.mnb-middle .notice li{
      display:inline-block;
    }
    .mnb-middle .sns li{
      width:40px;
      margin-right:0.3em;
    }
    .mnb-middle .notice li{
      margin-left:1em;
      padding-top:0.5em;
    }
    .mnb .mnb-bottom{   
      width:100%;   
      position:fixed;
      left:0;
      right:0;
      bottom:0;
      background:#f0f0fa;
    }
    .mnb-bottom .img-box{
      width:375px;
      margin:0 auto;
    }
    .mbnb{
      position:fixed;
      left:0;
      right:0;
      bottom:0;
      z-index:10000;
      padding:20px;
      background:#fff;
      box-shadow:0 -2px 5px #f0f0f0;
    }
    .mbnb ul{
      display:flex;      
      justify-content:space-around;
    }
    .mbnb li{
      width:36px;
      font-size:0.8em;
      text-align:center;
    }
    .mbnb a{
      display:block;
      width:100%;
      padding-top:36px;
      background-repeat:no-repeat;
      background-position:center top;
      background-size:contain;
    }
    .mbnb li:nth-child(1) a{
      background-image:url('../images/m-images/bnb-home-on.png');
    }
    .mbnb li:nth-child(2) a{
      background-image:url('../images/m-images/bnb-store-new.png');
    }
    .mbnb li:nth-child(3) a{
      background-image:url('../images/m-images/bnb-reserve_new.png');
    }
    .mbnb li:nth-child(4) a{
      background-image:url('../images/m-images/bnb-event_new.png');
    }
    .mbnb li:nth-child(5) a{
      background-image:url('../images/m-images/bnb-mymega_new.png');
    }
    .dnb{
      display:none;
      font-weight:100;
      color:var(--gray-ddd);
      position:relative;
      z-index:999;
    }
    .dnb-item{
      display:grid;
      grid-template-columns:auto auto;
      justify-content:space-between;
      align-items:center;
    }
    .dnb-item>ul{
      display:grid;
      grid-template-columns:repeat(3,auto);
      gap:1.5em;
    }
    .h-top{
      margin-bottom:1em;
    }
    .h-bottom ul{
      grid-template-columns:repeat(2,auto);
    }
    .h-bottom a{
      display:block;
      width:36px;
      height:36px;
      text-indent:-99999px;
      background-repeat:no-repeat;
      background-position:center;
    }
    .dnb-sitemap{
      background-image:url('../images/ico-sitemap-white.png');
    }
    .dnb-search{
      background-image:url('../images/ico-search-white.png');
    }
    .dnb-schedule{
      background-image:url('../images/ico-schedule-white.png');
    }
    .dnb-mymega{
      background-image:url('../images/ico-mymega-white.png');
    }
    nav.dnb-item{
      position:absolute;
      left:50%;
      bottom:5px;
      transform:translateX(-50%);
      width:850px;
      font-weight:400;
      font-size:1.4em;
      color:var(--gray-eee);
    }
    nav.dnb-item>ul{
      gap:2.5em;      
    }
    .main-nav>li{
      position:relative;
    }
    .main-nav>li>a{
      border-bottom:3px solid transparent;
      padding-bottom:19px;
    }
    .main-nav:nth-child(2)>li:nth-child(2)>a{
      border-bottom:3px solid transparent !important;
    }
    .main-nav>li>a.active{
      border-bottom-color:var(--gray-eee);
    }
    .sub-nav{
      position:absolute;
      left:50%;
      top:48px;
      transform:translateX(-50%);
      display:none;
      grid-template-columns:auto auto auto;
      gap:1.5em;  
      justify-content:center;    
      width:500px;
      padding-top:0.8em;
      font-weight:300;
      font-size:0.75em;
    }
    .main-nav>li.active .sub-nav{
      display:grid;
    }
    .sub-nav a:hover{
      text-decoration:underline;
    }   
    .main-nav li:nth-child(3) .sub-nav,
    .main-nav li:nth-child(6) .sub-nav{
      grid-template-columns: auto auto;
    }

    .footer{
      position:relative;
      z-index:2;
      margin-bottom:90px;
      padding:50px 0;
      background:var(--gray-ddd);
    }
    .footer .d-li{
      display:none;
    }
    .footer .container{
      display:grid;
      grid-template-columns:1fr;
      gap:2em;
    }
    
    .footer nav ul li{      
      display:inline-block;
      border-right:1px solid #999;
      padding:0 1.5em;
    }
    .footer nav ul li:last-child{
      border:none;
    }
    .footer-logo{
      filter:grayscale(1) opacity(0.5);
    }
    address{
      text-align:center;
      line-height:1.4em;
    }
    .footer .footer-link ul{
      display:grid;
      grid-template-columns: repeat(4,1fr);
      gap:0.5em;
    }

    @media (min-width:960px){
      .footer nav ul li{
        padding:0 1em;
      }
      .footer .d-li{
        display:inline-block;
      }
      .footer .container{
        grid-template-columns:auto 1fr auto;
      }
      .footer nav{
        grid-area:1/1/2/4;
      }
    }

    @media (min-width:1280px){
      .main-ad{
        display:block;
      }
      .header{
        position:relative;
        left:auto;
        right:auto;
        top:auto;
        border-bottom:1px solid var(--gray-555);
        padding-top:1.2em;
        padding-bottom:1.2em;
        background:var(--gray-111);
      }
      h1 a{        
        background:url('../images/logo-white.png') no-repeat center;        
        width:140px;
        height:47px;
      }
      .mnb{
        display:none;
      }
      .mbnb{
        display:none;
      }
      .login-form .container{
        grid-template-columns:1fr 1fr;
        left:50%;
        right:auto;
        top:50%;
        bottom:auto;
        transform:translate(-50%,-50%);
        width:840px;
        padding-top:6em;
        padding-bottom:2em;
      }
      .login-form h2{
        background:var(--sub-color01);
        text-align:left;
        color:var(--gray-fff);
        font-size:1.4em;
      }
      .btn-login-close{
        background:transparent;
      }
      .btn-login-close::before,.btn-login-close::after{
        background:var(--gray-fff);
      }
      .dnb{
        display:block;
      }
      .footer{
        margin-bottom:0;
      }
      address{
        text-align:left;        
      }
    }